/.idea/
/.vscode/
/app/__pycache__/
/venv/
/.env
/app/static/img/brulepic.jpg
/app/static/img/carping.jpg
/app/static/img/firstbrule.jpg
/app/static/img/neenahcr.jpg
/app/static/img/maggie.jpg
/app/static/img/littlecarp.jpg
/app/static/img/millbrown.jpg
/app/static/img/millbrown2.jpg
/app/static/img/jeeb.jpg
/app/static/img/jeebus.JPG
/app/static/img/littlecarp2.jpg
/app/static/img/IMG_0563.JPG
/app/static/img/rush.jpg
/app/static/img/kewaunee.jpg
/app/static/img/miraclemile.jpg
/app/templates/admin/login2.html
