.navbar {
  background-color: rgba(65, 84, 104, 0.877);
  text-shadow: -0.5px 0 rgba(0, 0, 0, 0.596), 0 0.5px rgba(0, 0, 0, 0.685), 0.5px 0 rgba(0, 0, 0, 0.685), 0 -0.5px rgba(0, 0, 0, 0.685);
  font-size: 17.5px;
  font-family: "Modern438Smc";  
}

.navbar-brand {
  color: #f2f2f0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f2f1f0;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: default;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #f6f7fad0;
  color: #ffffff86;
  opacity: 0.8;
  border-radius: 25px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  background-image: url('../img/tomorrowbrown3.jpg');
  background-size: cover;
  background-position: center;
}

table td {
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Portfolio*/
.portfolio {
  position: relative;
  background-image: linear-gradient(180deg, rgba(236, 235, 235, 0.671),rgba(216, 216, 216, 0.815), rgba(148, 139, 139, 0.788));
}

.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;

}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 56%;
  height: 81%;
  left: 23%;
  top: 11%;
  border-radius: 80%;
  border: 2.2px solid rgba(248, 248, 255, 0.801);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%, 50%, 0);
  transform: translate3d(50%, 50%, 0);
}

.hovereffect:hover .overlay {
  background-color: rgba(21, 36, 37, 0.507);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
  filter: grayscale(100%);

}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 15px;
  padding: 15px;
  background-color: transparent;
  color: #f8f8ff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -0.5px 0 rgba(0, 0, 0, 0.685), 0 0.5px rgba(0, 0, 0, 0.685), 0.5px 0 rgba(0, 0, 0, 0.685), 0 -0.5px rgba(0, 0, 0, 0.685);  
}

.hovereffect a,
.hovereffect p {
  color:#f8f8ff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2,
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#map {
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  background: #fff8fc;
  color: #000002;
  font: 15px Serifa BT;
  line-height: 22px;
  border: 1px double #00008b
}

.leaflet-popup-tip-container {
  width: 10px;
  height: 15px
}

.leaflet-popup-tip {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2c3e50
}

.fish-icons {
  background-color: rgba(175, 190, 43, 0.705);
  background-image: url("japanese-carp.svg");
  /* width: 110%;
  height: 110%; */
  /* background-size: 80%;*/
  border-radius: 100%;
}

p {
  background-color: transparent;
  color: rgba(40, 125, 153, 0.932);
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  font-family: "Modern438Smc", sans-serif;
  display: inline;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    background: #d1c95ab6;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
    
}



footer {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  height: 50px;
  margin-top: 1em;
  bottom: 0;
  right: 0;
  left: 0;
  background: #7788992f;
  cursor: default;
}