.navbar {
  background-color: rgba(12, 35, 102, 0.856);  
  font-size: 16px;
  font-family: 'Proza Libre'; 
}

/* .navbar-brand {
  color: #dfdf11;
} */

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}

.nav-link,
.navbar-brand {
  color: #FFFFFF;
  cursor: default;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #FFFFFF;
  color: #FFFFFF;
  opacity: 0.95;
  border-radius: 15px;
  text-shadow: -0.75px 0 rgba(41, 41, 41, 0.849), 0 0.5px rgba(148, 148, 148, 0.781), 0.5px 0 rgba(136, 136, 136, 0.767), 0 -0.5px rgba(138, 138, 138, 0.747);
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #FFFFFF !important;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

table td {
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #FFFFFF;
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Portfolio*/
.portfolio {
  position: relative;
  background: #ffffff;
}

.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
  border: 5px solid rgba(12, 35, 102, 0.856);
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: contrast(1.06) brightness(1.2);

}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 58%;
  height: 81%;
  left: 23%;
  top: 11%;
  border-radius: 81%;
  border: 2.2px solid rgba(254, 254, 255, 0.849);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%, 50%, 0);
  transform: translate3d(50%, 50%, 0);
}

.hovereffect:hover .overlay {
  background-color: rgba(12, 21, 34, 0.767);
}

.hovereffect img {
  display: block;
  position: relative;  
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(2.6);
  -webkit-filter: brightness(2.6);
  filter: sepia(45%) blur(2px) contrast(1.06) brightness(1.25) grayscale(25%);  
  transition: 0.32s;

}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 15px;
  padding: 15px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -0.5px 0 rgba(0, 0, 0, 0.685), 0 0.5px rgba(0, 0, 0, 0.685), 0.5px 0 rgba(0, 0, 0, 0.685), 0 -0.5px rgba(0, 0, 0, 0.685);  
}

.hovereffect a,
.hovereffect p {
  color:#FFFFFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2,
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#map {
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  background: #FFFFFF;
  color: #000002;
  font: 15px Serifa BT;
  line-height: 22px;
  border: 1px double #00008b
}

.leaflet-popup-tip-container {
  width: 10px;
  height: 15px
}

.leaflet-popup-tip {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2c3e50
}

.fish-icons {
  background-color: rgba(175, 190, 43, 0.705);
  background-image: url("japanese-carp.svg");
  /* width: 110%;
  height: 110%; */
  /* background-size: 80%;*/
  border-radius: 100%;
}

p {
  background-color: transparent;
  color: rgba(40, 125, 153, 0.932);
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  font-family: "Rufina";
  font-style: italic;
  display: inline;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    background: #eef3f5;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;    
}

footer {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  height: 50px;
  margin-top: 1em;
  bottom: 0;
  right: 0;
  left: 0;
  background: #7788992f;
  cursor: default;
}