* {
  box-sizing: border-box;
  }
  
  *:focus {
  outline: none;
  }
  body {
  font-family: Arial;
  background-color: #caebe5a1;
  padding: 50px;
  }
  .login {
  margin: 20px auto;
  width: 300px;
  }
  .login-screen {
  background-color: rgba(184, 185, 90, 0.322);
  padding: 20px;
  border-radius: 5px
  }
  
  .app-title {
  text-align: center;
  color: #777;
  }
  
  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  }
  
  input {
  text-align: center;
  background-color: #91dfa8b7;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
  }
  
  input:focus {
  border: 2px solid #3b9b1d6b;
  box-shadow: none;
  }
  
  .btn {
  border: 2px solid transparent;
  background:  hsl(54, 87%, 33%);
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  }
  
  .btn:hover {
  background-color: #8a2d02dc;
  }
  
  .login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
  }