{% extends "public/base4.html" %}
{% block title %}{% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logIn.css') }}"> {% endblock %}
{% block favicon %}{% endblock %}
{% block content %}
     <div class="container" style="width:500px;">
      <h1>Please Login</h1>
      <br><br>
      <form action="" method="POST">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
        <br><br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <br><br>
        <input class="btn btn-dark" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}
{% block scripts %}{% endblock %}