{% extends "public/base2.html" %}
{% block title %} {{data['title']}} {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"> {% endblock %}
{% block favicon %}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon2.ico') }}"> {% endblock %}
{% block content %}
<div id="content">
  <table class="table table-bordered table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Stream</th>
        <th>County</th>
        <th>Species</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{result[0]}}</td>
        <td>{{result[1]}}</td>
        <td>{{result[2]}}</td>
        <td>{{result[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<canvas id="myCanvas" width="600" height="400"></canvas>
<p id="caption">The chart is displaying a simple line chart.</p>
{% endblock %}