{% extends "public/base2.html" %}
{% block title %}Folio{% endblock %}
{% block css %}
<style type="text/css">
    /*Portfolio*/
.portfolio {
  position: relative;
  background: #ffffff;
}

.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
  border: 5px solid rgba(12, 35, 102, 0.856);
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: contrast(1.06) brightness(1.2);

}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 58%;
  height: 81%;
  left: 23%;
  top: 11%;
  border-radius: 81%;
  border: 2.2px solid rgba(254, 254, 255, 0.849);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%, 50%, 0);
  transform: translate3d(50%, 50%, 0);
}

.hovereffect:hover .overlay {
  background-color: rgba(12, 21, 34, 0.767);
}

.hovereffect img {
  display: block;
  position: relative;  
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(2.6);
  -webkit-filter: brightness(2.6);
  filter: sepia(45%) blur(2px) contrast(1.06) brightness(1.25) grayscale(25%);  
  transition: 0.32s;

}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 15px;
  padding: 15px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -0.5px 0 rgba(0, 0, 0, 0.685), 0 0.5px rgba(0, 0, 0, 0.685), 0.5px 0 rgba(0, 0, 0, 0.685), 0 -0.5px rgba(0, 0, 0, 0.685);  
}

.hovereffect a,
.hovereffect p {
  color:#FFFFFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%, -400%, 0);
  transform: translate3d(-150%, -400%, 0);
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2,
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}    
  </style>
{% endblock %}
{% block favicon %}{% endblock %}

{% block content %}
<!-- portfolio -->
<div class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/frontpage.jpg" class="img-fluid">
          <div class="overlay">            
              <p class="w3-small w3-serif">
              <i><br/> “A map tells you<br/> 
                where you’ve been,
                where you are, and where you’re going
                in a sense, it’s three tenses in one”</i></p><br/><br/>
              <p>Peter Greenaway</p>            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/tomorrowbrown4.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Tomorrow River<br />
              Brown Trout<br />
              Nelsonville, Wisconsin<br /><br /><br />
              <a href="/central">Zoom</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/upperchaffee.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Upper Chaffee<br />
              Creek State Fishery Area<br />
              Dakota, Wisconsin<br /><br /><br />
              <a href="/central">Zoom</a></p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/millbrown2.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Driftless</h2>
            <p>Upper Mill Creek
              Early Spring Beadhead<br />
              Brown Trout<br /><br /><br />
              <a href="/avalanche">Zoom</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/chaffeeBird.jpg" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/flowers.jpg" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/brule2.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Bois Brule River<br />
              Lake Superior<br />
              Fall Run Steelhead<br /><br /><br />
              <a href="/upperwis">Zoom</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/littlecarp2.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Little Carp River,<br />
              Porcupine Mountains, U.P.<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/ocontobrown.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Oconto River<br />
              Lake Michigan<br />
              Fall Run Brown<br /><br />
              <a href="/newis">Zoom</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/tomorrowbrown3.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Brown Trout<br />
              Upper Tomorrow River<br />
              Nelsonville, Wisconsin<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/wbrwhite.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Headwaters<br />
              Upper West Branch of<br />
              the White River<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/kewaunee.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Kewaunee River<br />
              Lake Michigan<br />
              Spring Run Steelhead<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/brule3.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Bois Brule River<br />
              Lake Superior<br />
              Spring Run Steelhead<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/brule.jpg" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/tomorrowbrown.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 15</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/wildcatmt.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 16</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/jeebus.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 17</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/TUCaresphoto.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 18</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/jake_jeeb_valley.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Driftless</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/merrill_smallie.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Driftless</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/IC_carpy.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
