{% extends "public/base4.html" %}
{% block title %}Folio{% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/folioPage.css') }}"> {% endblock %}
{% block favicon %}<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_sa.ico') }}"> {% endblock %}
{% block content %}
<nav class="navbar navbar-dark bg-custom-2 navbar-expand-sm fixed-top">
  <span class="navbar-brand" href="#">
      <img src="static/img/favicon.ico" width="30" height="30" alt="logo"> Random Porn </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/data">Data</a>
    </div>
  </div>
</nav>
<!-- portfolio -->
<div class="portfolio">
     <h1 class="text-center">Random Folio</h1>
 <div class="container">
  <div class="row">
   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/avalanchesunset.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Driftless</h2>
        <p>Westfork Sportsmens Club<br/>
          Avalanche, Wisconsin<br/><br/><br/>
          <a href="/avalanche">Zoom</a></p>
      </div>
   </div>
   </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/backpage.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 2</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
   </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/tomorrowbrown4.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Central Sands</h2>
      <p>Tomorrow River Brown<br/>
        Nelsonville, Wisconsin<br/><br/><br/>
        <a href="/central">Zoom</a></p>
    </div>
   </div>
   </div>

<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="hovereffect">
    <img src="static/img/centralsands02.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 4</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
  </div>
</div>

   <div class="col-lg-4 col-md-4 col-sm-12">
     <div class="hovereffect">
    <img src="static/img/chaffeeBird.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Central Sands</h2>
      <p>Cedar Waxwing<br/>
        Upper Chaffee Creek<br/><br/><br/>
        <a href="/central">Zoom</a></p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
   <div class="hovereffect">
    <img src="static/img/flowers.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 6</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="hovereffect">
    <img src="static/img/brule2.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 7</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/littlecarp2.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 8</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/ocontobrown.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 9</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="hovereffect">
    <img src="static/img/tomorrowbrown3.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 10</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/wbrwhite.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 11</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/kewaunee.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 12</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="hovereffect">
    <img src="static/img/brule3.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 13</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/brule.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 14</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/Arkansas2.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 15</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="hovereffect">
    <img src="static/img/frontpage.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 16</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/jeeb.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 17</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="hovereffect">
    <img src="static/img/TUCaresphoto.jpg" class="img-fluid">
    <div class="overlay">
      <h2>Effect 18</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
    </div>
   </div>
  </div>

  </div>
 </div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}