{% extends "public/base2.html" %}
{% block title %}Folio{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
 {% endblock %}
{% block favicon %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_sa.ico') }}"> {% endblock %}
{% block content %}
<!-- portfolio -->
<div class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/frontpage.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/tomorrowbrown4.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Tomorrow River<br />
              Brown Trout<br />
              Nelsonville, Wisconsin<br /><br /><br />
              <a href="/central">Zoom</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/upperchaffee.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Upper Chaffee<br />
              Creek State Fishery Area<br />
              Dakota, Wisconsin<br /><br /><br />
              <a href="/central">Zoom</a></p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/millbrown2.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Driftless</h2>
            <p>Upper Mill Creek
              Early Spring Beadhead<br />
              Brown Trout<br /><br /><br />
              <a href="/avalanche">Zoom</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/chaffeeBird.jpg" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/flowers.jpg" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/brule2.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Bois Brule River<br />
              Lake Superior<br />
              Fall Run Steelhead<br /><br /><br />
              <a href="/upperwis">Zoom</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/littlecarp2.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Little Carp River,<br />
              Porcupine Mountains, U.P.<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/ocontobrown.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Oconto River<br />
              Lake Michigan<br />
              Fall Run Brown<br /><br />
              <a href="/newis">Zoom</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/tomorrowbrown3.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Brown Trout<br />
              Upper Tomorrow River<br />
              Nelsonville, Wisconsin<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/wbrwhite.jpg" class="img-fluid">
          <div class="overlay">
            <h2>The Sands</h2>
            <p>Headwaters<br />
              Upper West Branch of<br />
              the White River<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/kewaunee.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Kewaunee River<br />
              Lake Michigan<br />
              Spring Run Steelhead<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/brule3.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>Bois Brule River<br />
              Lake Superior<br />
              Spring Run Steelhead<br /><br /><br />
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/brule.jpg" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/tomorrowbrown.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 15</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/wildcatmt.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 16</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/jeebus.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 17</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/TUCaresphoto.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Effect 18</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/jake_jeeb_valley.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Driftless</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/merrill_smallie.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Driftless</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="hovereffect">
          <img src="static/img/IC_carpy.jpg" class="img-fluid">
          <div class="overlay">
            <h2>Lake Run</h2>
            <p>
              <a href="#">LINK HERE</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}