{% extends "public/base2.html" %}
{% block title%} {{ data['title'] }} {% endblock %}
{% block css %}
<style type="text/css">
    #map {height: 100vh;}
    .leaflet-popup-content-wrapper {background: #FFFFFF; color: #000002; font: 15px Serifa BT; line-height: 22px; border: 1px double #00008b}
    .leaflet-popup-tip-container {width: 10px; height: 15px}
    .leaflet-popup-tip {border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #2c3e50}
    .fish-icons {background-color: rgba(175, 190, 43, 0.705); background-image: url("japanese-carp.svg"); border-radius: 100%;}
</style>
{% endblock %}
{% block content %} 
<script>
    var place = {{ data['center']|safe }}
  </script>
 <script>
    var title = {{ data['title']|safe }}
  </script>
 <script>
    var zoom = {{ data['zoom']|safe }}
  </script>
  <script>
    var marks = {{ marks|safe }}
  </script>
  <div id="map"></div>
  {% endblock %} 


